@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane prywatne";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto zawiera dane prywatne. Ta strona pozwala na pobranie i usunięcie twoich prywatnych danych.</p>
        <p>
            <strong>Usunięcie tych danych spowoduje trwałe usunięcie twojego konta. Nie ma możliwości odwrócenia tej operacji.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Pobierz</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}