@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie emaila";
}

<h2>@ViewData["Title"]</h2>
<div>
    <hr />
    <img src="~/StaticFiles/grandma.jpg" alt="nasze serwery" class="img-responsive" data-toggle="tooltip" title="nasze serwery" style="width:250px" />
    <hr />
    <p>
        Dziękujemy za potwierdzenie emaila. <s>Teraz jeszcze administrator systemu musi potwierdzić twoje konto.</s>
    </p>
</div>
