@page
@model RegisterModel
@{
    ViewData["Title"] = "RegisterSucces";
}
<div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <img src="~/StaticFiles/cat2.gif"  alt="Koteł zaskoczeł" class="img-responsive" data-toggle="tooltip" title="Koteł zaskoczeł" style="width:220px;height:190px;" />

    <hr />
    <h4 style="color:green"> Rejestracja przebiegła pomyślnie   </h4>
        Dziękujemy za rejestrację. <br />
        Potwierdź swoje konto linkiem w wiadomości którą wysłaliśmy ci emailem.<br />
        Zanim będziesz mógł się zalogować twoje konto musi też zostać potwierdzone też przez administratora.<br />

</div>

