@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}

<h2>@ViewData["Title"]</h2>
<p>
    Twoje hasło zostało zmienione. Proszę <a asp-page="./Login">kliknąć tutaj aby sie zalogować</a>.
</p>
