@page 
@model RezerwacjaSal.Pages.Rooms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h3>Dodaj nowy pokój</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room.Number" class="control-label">Numer:</label>
                <input asp-for="Room.Number" class="form-control" />
                <span asp-validation-for="Room.Number" class="text-danger"></span>
                <span class="text-danger">@Model.SameNumberError</span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Type" class="control-label">Rodzaj:</label>
                <input asp-for="Room.Type" class="form-control" />
                <span asp-validation-for="Room.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Spots" class="control-label">Ilość miejsc:</label>
                <input asp-for="Room.Spots" class="form-control" />
                <span asp-validation-for="Room.Spots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Equipment" class="control-label">Opis wyposażenia:</label>
                <textarea asp-for="Room.Equipment" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Room.Equipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.BuildingID" class="control-label">Budynek:</label>
                <select asp-for="Room.BuildingID" class="form-control" asp-items="ViewBag.Building"></select>
            </div>
            <div class="form-group">

                <a class="btn btn-default" asp-page="Index" asp-route-buildingid="@Model.BuildingIdRoute" asp-route-departmentid="@Model.DepartmentIdRoute">Lista pokoi</a>
                <input type="submit" value="Zapisz" class="btn btn-default btn-primary"  />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
