@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h3>System rezerwacji sal</h3>
<h4>i takie tam</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <img src="~/StaticFiles/server.gif" alt="nasze serwery" class="img-responsive" data-toggle="tooltip" title="nasze serwery"  style="width:400px" />
    </div>
    <div class="col-md-5">
        <p>
            Może zawierać śladowe ilości orzechów arachidowych.<br />
            Podczas tworzenia tego programowania ucierpiało zwierze.<br />
            Zbieżność imion i nazwisk nie przypadkowa.<br />
            Zawiera gluten!<br />
        </p>
        <p>Copyrajted.</p>
    </div>

</div>
<hr />
<h3>Schemacik ERD</h3>

<img src="~/StaticFiles/BazaDanychSchemat.jpg" alt="schemacik" class="img-responsive" />






